{% extends 'base.html.twig' %}


{% block body %}

<section id="diaporama">

		<figure>
			<img src="../images/DSC_1956.jpg" alt="Image 1">
			<figcaption>1</figcaption>
		</figure>
		<figure>
			<img src="../images/2662.jpg" alt="Image 2">
			<figcaption>2</figcaption>
		</figure>
		<figure>
			<img src="../images/2323.jpg" alt="Image 3">
			<figcaption>3</figcaption>
		</figure>
		<figure>
			<img src="../images/2173.jpg" alt="Image 4">
			<figcaption>4</figcaption>
		</figure>

		<div class="diapo-next">
			<i class="fas fa-fast-forward"></i>
		</div>

		<div class="diapo-previous">
			<i class="fas fa-fast-backward"></i>
		</div>
		<div class='action'>
			<div class="stop">
				<i class="far fa-pause-circle"></i>
			</div>

			<div class="play">
				<i class="far fa-play-circle"></i>
			</div>
		</div>	

</section>

<div class="row row-cols-1 row-cols-md-3 g-4">
{% for post in posts %}
  <div class="col">
    <div class="card h-100">
      {% set imgSrc = post.uploadFilename ? asset('uploads/' ~ post.uploadFilename) : asset('images/DSC_1956.jpg') %}
      
      <img src="{{ imgSrc }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">{{ post.content }}</p>
        <a href="{{ path('post_get', {'id': post.id}) }}" class="btn btn-primary">Voir plus</a>
      </div>
    </div>
  </div>
{% endfor %}

</div>

{{ knp_pagination_render(posts, null, {}, {
  'align': 'center',
  'style': 'bottom',
  'size': 'large'
}) }}


{% endblock %}
